form {
    display: grid;
    grid-template-columns: 1.4fr 4fr; 
    grid-template-rows:repeat(14,auto);
    gap: 0.1vh; 
    align-items: center; 
    border: 1px solid black;
    padding: 20px 10px 10px 10px;
    height:100%;
}

.form-wrap {
    position: relative;
}

.legend {
    position: absolute; 
    top: -7px; 
    left: 10px;
    background-color: #ffffff; 
    padding: 0 10px; 
    font-weight: bold;
}

.first_last {
    grid-column: 2;
    font-weight: bold;
}

p {
    margin:0.5vh 0px;
}

select {
    appearance: none;
    background-image: url("icon.svg");
    background-repeat: no-repeat;
    background-position: right 0rem top 50%;
    background-size: 0.65rem 3vh;
}

.input-container {
    display: flex;
    align-items: center;
    gap:1vw
}

.home {
    width:22vw;
}

.years {
    width:15vw;
}

select {
    border-radius: 0.4rem;
    padding-left: 5px;
}

input {
    margin-top: 4px;    
}

button {
    border-radius: 10px;
    border-color: white;
    margin: 5px 20px 0px 0px;    
}